


/* .slick-prev, .slick-next{
    display: none !important;
} */


.slick-dots li button:before{
    margin-top: -50px;
    
}



.quick:hover {
    background-color: cornsilk;
     color: crimson;
     
 }
