.bkash >img{
    height: 120px;
    width: 150px;
}


@media only screen and(max-width:1050px){
    
    .bkash>img{
        height: 100px;
        width: 120px;
    }  
}

@media only screen and(max-width:980px){
    .bkash>img{
        height: 100px;
        width: 100px;
    } 
}

@media only screen and(max-width:599px){
    .bkash>img{
        height: 120px;
        width: 150px;
    } 
}