/* .css-7e0s21-MuiPaper-root-MuiAppBar-root{
    background-color: rgba(228, 228, 243, 0.89) !important;
    color: black !important;
    
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
    color: black !important;
}
 */
